Repository MiracleHyehwa/cotree-frontend, pull requests merged in 2025-06, with the labels that each got.

#3 [FEAT] 상품 상세페이지 구조 및 Drawer 도입
  index.html
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-64x64.png
  src/app/appRouter.tsx
  src/entities/product/model/types.ts
  src/entities/product/ui/index.tsx
  src/entities/product/ui/productDetailContent.tsx
  src/entities/product/ui/productImageSlider.tsx
  src/entities/product/ui/productMetaInfo.tsx
  src/entities/product/ui/productSummaryBlock.tsx
  src/features/product/ui/index.ts
  src/features/product/ui/productPurchaseActionBar.tsx
  src/features/product/ui/productPurchaseDrawer.tsx
  src/index.css
  src/pages/productDetail/index.tsx
  src/pages/productDetail/productDetailView.tsx
  src/shared/layout/HeaderBackLayout.tsx
Labels: feat

#4 [Feat] 주문 생성 페이지 UI 구현
  package.json
  src/app/appRouter.tsx
  src/entities/order/ui/index.ts
  src/entities/order/ui/orderPaymentMethodButtonList.tsx
  src/entities/order/ui/orderPaymentTypeRadioGroup.tsx
  src/entities/order/ui/orderProductListSection.tsx
  src/features/order/model/schema/index.ts
  src/features/order/model/schema/orderForm.schema.ts
  src/features/order/ui/index.tsx
  src/features/order/ui/orderAgreementConfirmationCheckbox.tsx
  src/features/order/ui/orderPaymentActionBar.tsx
  src/features/order/ui/orderPaymentCardInformationForm.tsx
  src/features/order/ui/orderShippingAddressPostCode.tsx
  src/features/order/ui/orderShippingAddressRegistrationSection.tsx
  src/features/product/ui/productPurchaseActionBar.tsx
  src/index.css
  src/pages/category/index.tsx
  src/pages/home/index.tsx
  src/pages/order/create/index.tsx
  src/pages/order/create/orderCreateView.tsx
  src/pages/productDetail/index.tsx
  src/shared/components/ui/checkbox.tsx
  src/shared/components/ui/dialog.tsx
  src/shared/components/ui/radio-group.tsx
  src/shared/layout/headerHomeLayout.tsx
  src/shared/layout/index.tsx
  yarn.lock
Labels: feat, chore

#5 [FEAT] Mypage UI
  src/app/appRouter.tsx
  src/pages/mypage/index.tsx
  src/pages/mypage/mypageView.tsx
Labels: feat

#31 [FIX{ 파비콘, 로고 변경
  public/favicon/favicon-96x96.png
Labels: fix
